<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-cross-origin-isolated-headers" version="0.0.1"
	xmlns="http://www.w3.org/ns/plugins">

	<name>cordova-plugin-cross-origin-isolated-headers</name>

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CrossOriginIsolatedHeaders">
				<param name="android-package" value="com.customautosys.cross_origin_isolated_headers.CrossOriginIsolatedHeaders"/>
			</feature>
		</config-file>

		<source-file src="src/android/com/customautosys/cross_origin_isolated_headers/CrossOriginIsolatedHeaders.java" target-dir="src/com/customautosys/cross_origin_isolated_headers/"/>
	</platform>
</plugin>
